<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ツアヘル</title>
</head>
<link rel="stylesheet" href="/stylesheets/homescreen.css" type="text/css">
<body>
	<?php
		session_start(); #セッション開始
		if($_SESSION['flag']!=1){
			$_SESSION['flag'] = 0;
		}
	?>
</br></br></br>

<div class="itembox">
<form action="google-api.php" method="post" name="jsform">
<p style="font-family:'arial black';font-size:150%;color:red">お出かけルート検索</p>

  今日はどこに行きたいですか？<br />
　<select name="sightseeing" required>
　<option value="">1つ選択してください</option>
 <option value="観光地">観光地</option>
 <option value="夜景">夜景</option>
 <option value="美術館">美術館</option>
 <option value="遊園地">遊園地</option>
 <option value="動物園<">動物園</option>
 <option value="水族館">水族館</option>
 <option value="神社">神社</option>
 <option value="寺">寺</option>
 </select>
  <br />

  いつ出かける？<br />
  <input type="time" name="start_time" id="start_time" size="30" value="" /><br />
  いつ帰る？<br />
  <input type="time" name="end_time" id="end_time" size="30" value="" /><br />
  <br />
  <!-- <input type="submit" value="ルート検索スタート！！" /> -->
	<button type="button" onclick="getPosition()">ルート検索スタート!!</button><br />
	<input type="hidden" name="latitude" id="latitude" value="">
	<input type="hidden" name="longitude" id="longitude" value="">
  <!-- <img src="odekake.jpg" alt="写真" align="bottom"> -->
	</form>
</div>

<!-- <button type="button" onclick="getPosition()">送信</button>
<form action="test.php" method="post" name="jsform">
<input type="hidden" name="latitude" id="latitude" value="">
<input type="hidden" name="longitude" id="longitude" value="">
</form> -->

<br><br>


</body>
</html>
